.learnMore {
  padding: 80px;
  background-color: #155263;
  display: flex;
  justify-content: center;
  align-items: center;
}
.learnMore p {
  color: #ffffff;
  font-weight: 300;
  text-align: center;
}
/*
*/
.copyrights p span {
  color: #f5b530;
  text-decoration: underline;
}

.footerContainer {
  padding: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f3f3f3;
}

.footerContainer nav {
  margin-bottom: 30px;
}
.footerContainer nav ul {
  list-style: none;
  display: flex;
}
.footerContainer nav ul li {
  margin: 0 15px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
}
.socials {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials img {
  width: 35px;
  height: 35px;
  margin: 0 15px;
}
.copyrights {
  color: #979797;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .learnMore p {
    font-size: 12px;
  }

  .footerContainer nav ul li {
    font-size: 12px;
    margin-right: 5px;
  }
  .socials img {
    width: 25px;
    height: 25px;
    margin: 0 5px;
  }
}
